// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #333;
$grayzin: #CCC;


$randomeal-background: linear-gradient(135deg, rgba(255,69,90,1) 0%, rgba(252,160,59,1) 54%, rgba(244,244,244,1) 79%);
$randomeal-primary: #ff455a;
$randomeal-secondary: #fca03b;

.randomeal-secondary {
  color: $randomeal-secondary;
}
