// Specific CSS for your home-page
.main-container {
  width: 400px;
  align-content: center;
  margin: auto;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  // display: flex;
}

@media (max-width: 320px) {
  .main-container {
    width: 310px;
  }
}

@media (min-width: 360px) {
  .main-container {
    width: 350px;
  }
}

@media (min-width: 375px) {
  .main-container {
    width: 365px;
  }
}

@media (min-width: 411px) {
  .main-container {
    width: 400px;
  }
}

.feature-header {
  margin-top: 20px;
  font-size: 20px;
}

.main-header {
  color: $randomeal-primary;
  font-weight: bolder;
}

h2 {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}
