.load-header {
  font-size: 20px;
  // font-weight: bolder;
  color: white;
  text-align: center;
  margin-top: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

.load-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15px;
}

.load-logo {
  margin-top: 15px;
  width: 150px;
  height: 150px;
  border: 6px solid white;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(260deg);
    box-shadow: 0 0 10px 15px $randomeal-secondary;
  }

  100% {
    transform: rotate(360deg);
  }
}
