<div class="card">
  <div class="card-body">
    <h1><u>About</u></h1>
    <br>
    <h2>What Is Randomeal?</h2>

    <p align="left">Randomeal will randomly generate the perfect restaurant that not only meets your party’s needs, but gets you out into your city so that you can explore new restaurants in new neighborhoods for brand new experiences.</p>

    <h2>How Does It Work?</h2>

    <p align="left">

    <strong>Step 1)</strong> Input filters such as favourites, dislikes, price and your desired location. <br>

    <strong>Step 2)</strong> Hit randomize! Let Randomeal provide you with the ideal restaurant! <br>

    <strong>Step 3)</strong> Either go forward with the generated restaurant or hit “Randomize” to see another! <br>

    <strong>Step 4)</strong> Lets eat! After making your selection, you will be provided with all of the information of the restaurant!</p>
   </div>
 </div>

