<div class="card">
  <div class="card-body">
<h1><u>About</u></h1>
<br>
<h2>Who Are We?</h2>

<p align="left">We are part of batch <strong>#358</strong> at Le wagon Rio de Janeiro and we are creating a new application aimed to make decision making easier for those indecisive eaters in this world!</p>

<h2>The Problem</h2>

<p align="left">We all know that the process of chosing somewhere to go out to eat can turn into a mess. Indecision runs rampant, conflicting ideas on where to eat, what to eat, and how much to spend.</p>

<h2>What Is Randomeal?</h2>

<p align="left">Randomeal, the one-stop destination for all of your dining needs. Menus, addresses, reservation information and reviews all in one place. However, we do not simply provide
you with the appropriate information. After receiving inputs from everyone in your party, Randomeal will randomly generate the perfect restaurant that not only meets your party’s needs, but gets you out into your city so that you can explore new restaurants in new neighborhoods for brand new experiences.</p>

<h2>How Does It Work?</h2>

<p align="left">

<strong>Step 1)</strong> You may not know what you do want to eat but you will know what you dont like to eat, so you will immediately eliminate these cuisines in our dropdown menu <br>

<strong>Step 2)</strong> Input personal filters such as favourites, dislikes, price-point and your desired location. <br>

<strong>Step 3)</strong> Hit the randomize button! Let Randomeal provide you with the ideal restaurant!. <br>

<strong>Step 4)</strong> Restaurant selection. Either go forward with the restaurant we have provided you with, or choose hit “Randomize” again to see another restaurant. <br>

<strong>Step 5)</strong> Lets eat! After making your selection, you will be provided with all of the information you need. Restaurant hours, menus, reviews, the address and either the phone number or the link of the restaurant so that you may make a reservation.</p>

<h2>Our Aim</h2>

<p align="left">In a perfect world, everybody would use Randomeal and we'd be ridded of the terrible plague of dining indecision forever!

While we do realize that we are not quite superheroes (yet, anyway), we are simply on a mission to achieve one goal: making your lives easier and more exciting.

Become closer with your friends by inviting them to go out to the perfect restaurant for all of you and have a great night on the town. Save yourselves the time and hassle of picking where to eat and let us take care of it for you, so you can enjoy the company of your best friends.</p>
  </div>
</div>
