<h2>Loading best restaurants for you!</h2>

<script>
  const refresh = () => {
    Rails.ajax({
      url: "<%= verify_path %>",
      type: "GET",
      success: function(data) {
        if (data.found == true) {
          window.location = "<%= restaurants_path %>";
        } else if (data.should_stop == true) {
          window.location = "<%= root_path %>";
        }
      }
    });
  };

  setInterval(refresh, 1000);
</script>
