<h2>Loading best restaurants for you!</h2>
<input type="number" value="0" class="hidden" id="restaurantNumber">

<script>
  const refresh = () => {
    //verificar se @restaurants.size != 0
    if (document.getElementById("restaurantNumber").value != 0) {
    // se sim
      // redirecionar para index
      window.location = <%= restaurants_path %>;
      // window.location = "http://www.xyz.com";
    }
  };

  setInterval(refresh, 1000);
</script>
