<p class="load-header">
  <span id="typing-animation"></span>
</p>
<%= image_tag 'randomeal-logo.png', class: "load-logo mb-5"  %>

<script data-ad-client="ca-pub-6021821112935498" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<p class="load-footer">Powered by Sidekiq <i class="far fa-registered"></i></p>


<script>
  const now = new Date()

  const refresh = () => {
    if (new Date() - now > 25000) {
      window.location = "<%= root_path %>"
    }
    Rails.ajax({
      url: "<%= verify_path %>",
      type: "GET",
      success: function(data) {
        if (data.found == true) {
          window.location = "<%= restaurants_path %>";
        }
      }
    });
  };

  setInterval(refresh, 1000);
</script>
