#button-randomeal {
  background-color: $randomeal-primary;
  border-color: $randomeal-primary;
}

#randomize-btn {
  background-color: #F3613A;
  color: white;
  border-radius: 35px;
  font-weight: bolder;
}
