#btn-randomeal {
  border-radius: 35px;
  background: transparent;
  border-color: $randomeal-primary;
  color: $randomeal-primary;
}

#btn-randomeal-cat {
  border-radius: 35px;
  background: white;
  border-color: $randomeal-primary;
  color: $randomeal-primary;
  border: solid 1px;
  outline: none;
  z-index: 1;
}

#btn-randomeal-cat-pressed {
  border-radius: 35px;
  background: white;
  border-color: $randomeal-primary;
  color: $randomeal-primary;
  border: solid 1px;
  border-bottom-color: white;
  outline: none;
  z-index: 1;
}

#randomize-btn {
  background: linear-gradient(165deg, rgba(255,69,90,1) 0%, rgba(252,160,59,1) 78%);
  border: 0px;
  color: white;
  border-radius: 35px;
  font-weight: bolder;
}
