#btn-randomeal-cat {
  border-radius: 35px;
  background: white;
  border-color: $randomeal-primary;
  color: $randomeal-primary;
  border: solid 1px;
  z-index: 1;
  box-shadow: none;
  transition: all .5s ease-in-out;
}

#btn-randomeal-cat-pressed {
  border-radius: 35px;
  background: white;
  border-color: $randomeal-primary;
  color: $randomeal-primary;
  border: solid 1px;
  border-bottom-color: white;
  z-index: 1;
  box-shadow: none;
  transition: all .5s ease-in-out;
}

#categories-div {
  border: 1px;
  border-color: $randomeal-primary;
  // border-top-color: white;
  border-style: solid;
  border-radius: 6px;
  margin-top: -6px;
  background-color: white;
  transition: all 1s ease-in-out;
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  /*margin: 16px;*/
  flex-grow: 1;
}

// .category-grow {
//   transition: all .2s ease-in-out;
// }

// .category-grow:hover {
//   transform: scale(1.02);
// }

.category {
  background-size: cover;
  background-position: center;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.categories-grid a {
  text-decoration: none;
  color: black;
}

.active {
  opacity: 0.4;
}
