.mapboxgl-popup {
  max-width: 160px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}
