.navbar-randomeal {
  justify-content: space-between;
  background: transparent;
}
.navbar-randomeal .navbar-collapse {
  flex-grow: 0;
}
.navbar-randomeal .navbar-brand img {
  width: 45px;
  border-radius: 50%;
  border: white 1.5px solid;
}

.nav-link {
  color: white !important;
}
