.navbar-randomeal {
  justify-content: space-between;
  background: transparent;
}
.navbar-randomeal .navbar-collapse {
  flex-grow: 0;
}
.navbar-randomeal .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: white !important;
}
