// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.hidden {
  display: none;
}

body {
  background: linear-gradient(155deg, rgba(255,69,90,1) 0%, rgba(252,160,59,1) 43%, rgba(244,244,244,1) 72%);
  height: 100vh;
}

// .categories-cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px;
//   /*margin: 16px;*/
//   flex-grow: 1;
// }



